@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.fc-button-primary {
  background-color: #228be6 !important;
  border-color: transparent !important;
  height: 2.25rem !important;
}

.fc-button-primary:hover {
  background-color: #1c7ed6 !important;
  border-color: transparent !important;
}

.fc-button-primary:active {
  outline: 0 !important;
  outline-color: #1c7ed6 !important;
  border-color: 0 !important;
  transform: translateY(1px) !important;
}

.fc-button-primary:focus {
  outline: 0 !important;
  outline-color: #1c7ed6 !important;
  border-color: 0 !important;
  box-shadow: none !important;
}

.fc-toolbar-title {
  font-size: 1.25rem !important;
}

.mantine-Checkbox-root {
  display: flex;
  align-items: center;
}

.greyed-out {
  background-color: var(--mantine-color-gray-light) !important;
}

.fc-daygrid-day-number {
  width: 100% !important;
}
